/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 mai 2014, 20:58:11
    Author     : Alexandre
*/
body{
    background-color: black;
    color: grey;
}

.error-cache{
    display: none;
}

.error-message{
    padding-top: 5px;
    padding-bottom: 5px;
}

#inscription-success{
    margin-top: 50px;
    display: none;
}

img {
display: block;
margin: 0 auto;
height: 800px; /* spécifiez la hauteur de l'image, une bonne attitude à prendre */
width: 1200px; /* spécifiez la largeur de l'image, une bonne habitude à prendre */

} 