/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mai 2014, 18:00:38
    Author     : Alexandre
*/
#menu {
    padding-top:100px;
}


#form-titre{
    margin-top : 20px;
}

.menu-link-search {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.menu-link-search:hover,
.menu-link-search:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor : pointer;
}

#menu-gen{
    //position:fixed;
}

#table-recherche{
    //position: fixed;
}

#demo{
    padding-top:100px;
}

#achatG{
    margin-left : auto;
    margin-right: auto;
}

img {
display: block;
margin: 0 auto;
height: 800px; /* spécifiez la hauteur de l'image, une bonne attitude à prendre */
width: 1200px; /* spécifiez la largeur de l'image, une bonne habitude à prendre */

} 


#achatG-success{
    display: none;
}

.dispo-recherche{
    float:left;
    width:60%;
}

.btn-recherche{
    margin-left:61%
}

.nav-tabs > li > form > a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 2px;
}
.nav > li > form > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}

.nav > li > form > a:hover,
.nav > li > form > a:focus {
  text-decoration: none;
  background-color: #eee;
}

#menu-profil-search, #menu-musiques-search{
    cursor:pointer;
}

#panier-info{
    margin-top:10px;
}

body{
    //background-color:white;
    background-image:url(../img/wall.jpg);
}

#profil-info{
    margin-top:10px;
}

.backgrouWhite{
    background-color: white;
}

#form-mettre-p{
    padding-bottom: 10px;
}